<form [formGroup]="formulario">
  
  <!-- NOME -->
   @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
    <p class="alert alert-warning">O campo nome é obrigatório.</p>
   }

   @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
    <p class="alert alert-warning">O campo nome precisa conter pelo menos 3 caracteres.</p>
   }
  <input type="text" formControlName="nome"  placeholder="Nome"   class="form-control">
  
  <!-- IDADE -->
   @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched) {
    <p class="alert alert-warning">O campo idade é obrigatório.</p>
   }

   @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched) {
    <p class="alert alert-warning">O campo idade não aceita números inferiores a 0.</p>
   }

   @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched) {
    <p class="alert alert-warning">O campo idade não aceita números superiores a 120.</p>
   }
  <input type="number" formControlName="idade" placeholder="Idade" class="form-control">
  
  <!-- CIDADE -->
  @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched) {
    <p class="alert alert-warning">O campo cidade é obrigatório.</p>
   }

   @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched) {
    <p class="alert alert-warning">O campo cidade precisa conter pelo menos 3 caracteres.</p>
   }
  <input type="text" formControlName="cidade"  placeholder="Cidade" class="form-control">

  <input type="button" value="Cadastrar" class="btn btn-primary">
  <input type="button" value="Alterar" class="btn btn-primary">
  <input type="button" value="Remover" class="btn btn-primary">
  <input type="button" value="Cancelar" class="btn btn-primary">
</form>


<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>